.description{
    padding-left: 0 !important;
    
    .video__annonce{
        border: .3px solid #9995956e;
        height: 500px;
        border-radius: 10px;
    }
    .text--description, .video__annonce{
        margin-top: 6rem;
    }
}