.description{
    padding-left: 0 !important;
    
    .video__annonce{
        
        width: 600px;
        height: 500px;
        border-radius: 10px;
    }
    .text--description, .video__annonce{
        margin-top: 6rem;
    }
}