$color-body: #e6e0e0a6;

body{
    background: $color-body;
    &{
        display: block;
        width: 100%;
        overflow: auto;
    }
    &::-webkit-scrollbar {
        width: 6px;
        height: 100%;
        background-color: rgb(209, 209, 218)
    }
    &::-webkit-scrollbar-thumb{
        background: rgb(106, 177, 243);
        border-radius: 10px;
    }
}

